/* Albums */
#albums img{
  width: 100%;
  filter: grayscale(100%);
}

#albums img:hover{
  filter: grayscale(0);
}

/* Style Martin Garrix Page  */
.h-400{
  height: 400px;
}
#al a,h1{

  color: white;
}
#al h1{
  text-decoration: none;
  width: 100%;
}
#al a p{
  color: white;
  text-decoration: none;
}
#al {
  border: 1px solid violet;
}