
header img{
    width: 200px;
}
body{
    background-color:black;
}
.nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.nav li a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.navbar-nav li a{
    color: white !important;
}
.navbar-nav li a:hover{
    color:violet !important;
}
.navbar-nav{
    margin-right: 0 !important;
    margin-left: 42%;
    font-family: 'Poppins', sans-serif;
}
@media (max-width : 992px){
    .navbar{
        background-color: white;
    }
}
.art{
    color: #fff;
    border: 1px solid violet;
 
    margin-bottom: 8px;
}
.art img{
    width: 100%;
    height: 260px;
}
.des {
    color: #696C73;
    padding: 11px;
}
.art a{
    color: white;
}
footer{
    position: relative;
    top: 92px;
    width: 100%;
    color: white;
    background: #343a40!important;
}
.cop{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 12px;
}
#mu-search.mu-search-open {
   
}

#mu-search {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transform: translateY(-100%) scale(0);
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    z-index: 99999;
}
#mu-search .mu-search-area {
    display: inline;
    float: left;
    width: 100%;
    padding: 20% 0;
    text-align: center;
}
#mu-search .mu-search-area .mu-search-close {
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    outline: none;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 100px;
    text-align: center;
    top: 50px;
    width: 50px;
}
#mu-search .mu-search-area .mu-search-close {
    background-color: violet;
}
#btn {
    float: right;
    margin-top: 72px;
    margin-right: 28px;
    border-color: violet;
    color: violet;
}
#btn:hover{
    background-color: violet;
    border-color:violet ;
    color: white;
}
.input-group-text{
    background: violet;
    border: violet;
    color: white;
}
.tydes{
    padding: 11px;
}
.art h1{
    padding: 11px;
}